<script setup>
import { RouterLink, RouterView } from 'vue-router'
import NavbarView from '@/views/NavbarView.vue'
import FooterView from '@/views/FooterView.vue'
</script>

<template>
  <header>
   <NavbarView />
  </header>
  <main class="my-5">
    <div class="container mx-auto">
      <RouterView />
    </div>
  </main>
 <FooterView />
</template>